@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --clr-neutral-200: hsl(212, 45%, 89%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-400: hsl(218, 44%, 22%);
  --clr-primary-300: hsl(220, 15%, 55%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-200);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  max-width: 335px;
  padding: 20px;
  background-color: var(--clr-neutral-100);
  border-radius: 20px;
  margin: 2rem;
  text-align: center;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.card h2 {
  color: var(--clr-primary-400);
}

.card p {
  color: var(--clr-primary-300);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
